
<div *ngIf="mapService.currentMap" class="game-container"> 
    <app-map class="game-layer" [mapData]="mapService.currentMap"></app-map>
    <app-character class="game-layer" [characters]="gameService.characters" (selectCharacter)="gameService.inspectedCharacter=$event"></app-character>
</div>
<div>
    bestGrade:{{gameService.bestGrade}}<br>
    num Chars:{{gameService.characters.length}}<br>
</div>
<div class="ui">
    <input type="button" value="load..." (click)="dialogService.openStorageList()">
    <br>
    best Character
    <input type="button" value="save" (click)="gameService.bestGradeCharacter?storageService.save(gameService.bestGradeCharacter):null">
    <app-neuralNetwork [network]="gameService.bestGradeCharacter?gameService.bestGradeCharacter.brain:null"></app-neuralNetwork>
    <br>
    inspected Character
    <input type="button" value="save" (click)="gameService.inspectedCharacter?storageService.save(gameService.inspectedCharacter):null">
    <app-neuralNetwork [network]="gameService.inspectedCharacter?gameService.inspectedCharacter.brain:null"></app-neuralNetwork>

</div>
<app-dialogs></app-dialogs>
